@use "./variables" as *;

:root {
    font-family: Arial, sans-serif;
    color: $color-text;
    background-color: $color-background;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
}