@use "../../styles/variables" as *;

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-medium;

    &__link {
        color: inherit;
        text-decoration: none;
    }
}